<div class="modal-wrapper">
  <div class="dialog">
    <div class="modal-header">
      <label>Upgrade Package</label>
      <span class="cross" (click)="closeModal()">&#10008;</span>
    </div>
    <div class="modal-body">
      <div class="row">
        <label>Online</label>
        <label>50/min</label>
      </div>
      <div class="row">
        <label>Offline</label>
        <label>25/min</label>
      </div>
      <div class="row">
        <label> Free</label>
        <label>10/min </label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="secondary-btn">Upgrade Package</button>
    </div>
  </div>
</div>
